@font-face {
  font-family: "Metropolis";
  src: url("//db.onlinewebfonts.com/t/c02d97eb2b2899bdb0d87b182a64333d.eot");
  src: url("//db.onlinewebfonts.com/t/c02d97eb2b2899bdb0d87b182a64333d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c02d97eb2b2899bdb0d87b182a64333d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c02d97eb2b2899bdb0d87b182a64333d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c02d97eb2b2899bdb0d87b182a64333d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c02d97eb2b2899bdb0d87b182a64333d.svg#Metropolis")
      format("svg");
}
body {
  margin: 0;
  padding: 0%;
  font-family: "Syne", sans-serif;
  overflow-x: hidden;
}
* {
  margin: 0%;
  padding: 0%;
}
.web-agency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  flex-direction: column;
  gap: 244px;
  background-image: url("img/Rectangle\ 1852.png");
}
.nav {
  display: flex;
  justify-content: space-between;
  display: flex;
  width: 100%;
  max-width: 1699px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;
}
.nav-list-btn {
  display: flex;
  gap: 60px;
}
.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav-title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-align: right;
  color: #000000;
  opacity: 0.8;
}
.btn-title {
  background: #5458e1;
  border: transparent;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 209px;
  min-width: 209px;
  max-height: 68px;
  min-height: 68px;
}
.heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 37.2193px;
  line-height: 105%;
  text-transform: uppercase;
}
.nav-heading {
  display: flex;
  align-items: center;
}
.main-svg {
  display: flex;
  flex-direction: column;
  gap: 108px;
  align-items: center;
}
.main-info {
  width: 100%;
  max-width: 1297px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
}
.header-all-logos {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1608.8px;
  gap: 153px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 99.57px;
}
#logo-2 {
  height: 100%;
  max-height: 39.78px;
  min-height: 39.78px;
}
.lorem {
  padding-left: 110px;
  height: 100%;
  max-height: 835px;
  min-height: 835px;
  margin-top: auto;
  margin-bottom: auto;
}
.lorem-info {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 161%;
  text-transform: capitalize;
  width: 100%;
  max-width: 1055px;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 315px;
  min-height: 315px;
  padding-top: 293px;
  padding-bottom: 227px;
}
.info-pics {
  background: linear-gradient(121.7deg, #2a3148 2.69%, #1d2029 86.9%);
  height: 100%;
  max-height: 1149px;
  min-height: 1149px;
}
.pics-2 {
  width: 100%;
  max-width: 1699px;
  min-width: 1699px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 124px;
}

.info-written {
  width: 100%;
  max-width: 1507px;
  min-width: 1507px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 210%;
  opacity: 0.8;
  color: white;
  padding-left: 110px;
  padding-bottom: 148px;
  font-family: "Metropolis", sans-serif;
}
#pics-2-1 {
  position: relative;
  bottom: 110px;
}
#pics-2-2 {
  position: relative;
  bottom: 340px;
}
.web-agency-main{
  background-color: #5458E1;
  display: none;
}
